.body-theme{
    background-color: #f4f4e8;
    color: #373737!important;
}
.nav-bg{
    border-bottom: 1px solid #747474!important;
    background-color: #4a76a8;
}
.table-theme{
    background-color: #e7e7e0!important;
    color: #474747!important;
}